// This area is for widths and heights
$site-width: 980px;
$banner-height: 500px;
$banner-footer-width: 1280px;
$footer-height: 100px;
$home-form-width: 818px;
$input-height: 58px;
$promo-box-width: 236px;
$promo-box-height: 304px;

// This is for site colors
$site-blue: #79ADDC;
$site-white: white;
$site-black: black;

// This area is for buttons 

