nav {
    max-width: $site-width;
    height: 80px;
   // background-color: $site-black;
    margin: 0 auto;
    border-bottom: $site-white 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 99px;
    .logo {
        width: 92px;
        height: 42px;
        background-image: url(../images/logo-white.png);
    }
    .links {
        a {
            color: $site-white;
            text-decoration: none;
            font-size: 15px;
        }
        span {
            color: $site-white;
            margin: 0 20px;
        }
    }
}